img{
    width: 50%;
    background-color: blue;
}
p{
  background-color: blue;  
 font-size: larger;   
    




    }
a{
display: inline;
color: aliceblue;
background-color: coral;
text-decoration: none;
padding: 12px 32px  ;
border: 6px;




}






